.formWrapper{
    width: 70%;
    margin: 45px auto 0;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.noteButton{
    outline: none;
}

.noteButton img#add{
    display: block;
    margin: 0;
    padding: 0;
    /* vertical-align: bottom; */
    transition: 0.2s ease-out;
    margin: 0;
    padding: 0;
}


.noteButton img#add:hover{
    cursor: pointer;
    opacity: 0.8;
    transition: 0.2s ease-out;
}

.noteInput{
    width: 92%;
    height: 50px;
    font-size: 1.3em;
    padding-left: 20px;
    padding-right: 20px;
    border-radius:10px;
    opacity: 0.8; 
    font-family: 'Droid Sans', sans-serif;
    color: #fff;
    transition: 0.2s ease-out;
}

.noteInput:focus{
    outline: none;
    background-color: #E4F1FE;
    color: #111;
    transition: 0.2s ease-in;
}
